.footer {
  background-color: #1e1e1e;
  color: #fff;
}
.row {
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  display: flex;
  align-items: center;
  gap: 17px;
  font-weight: 600;
  img {
    width: 35px;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 600;
    color: #9a9a9a;
    p {
      color: #fff;
    }
  }
}

@media (max-width: 730px) {
  .footer {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 55px 0;
    background-color: #1e1e1e;
  }
  .row {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
  }
}
