.profile {
  margin: 60px 0;
}
.title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 40px;
}
.row {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.menu {
  width: 370px;
  padding: 64px 40px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #1a2749;
}
.menu__col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu__item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  &:not(.active):hover {
    opacity: 0.8;
  }
}
.logout {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  svg {
    path {
      transition: 0.2s;
    }
  }
  &:hover {
    color: #b00000;
    opacity: 0.8;
    svg {
      path {
        stroke: #b00000;
      }
    }
  }
}
.icon {
  path {
    transition: 0.2s;
  }
  circle {
    transition: 0.2s;
  }
}
.menu__item.active {
  color: #2156bd;
  .icon {
    stroke: #2156bd;
    path {
      stroke: #2156bd;
    }
    circle {
      stroke: #2156bd;
    }
  }
}
.content {
  width: 770px;
}

@media (max-width: 1020px) {
  .row {
    flex-direction: column;
  }
  .menu {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
  }
  .menu__col {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .content {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .menu__item {
    p {
      display: none;
    }
  }
  .logout {
    p {
      display: none;
    }
  }
}
@media (max-width: 420px) {
  .profile {
    margin: 18px 0;
  }
  .row {
    gap: 0;
  }
  .title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
